[Unit]
Description=TaskTracker

[Service]
Type=simple
User=tasktracker3
Group=tasktracker3
Restart=on-failure
Environment=MIX_ENV=prod "PORT=4796"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/tasktracker3/TaskTracker
ExecStart=/home/tasktracker3/TaskTracker/start.sh

[Install]
WantedBy=multi-user.target
